@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

$background-color: #f8fffb;
$main-color: #27ae60;
$highlight-color: #dbf7d8;
$font-color: #1e1762;
$font-color-secondary: #898fac;

$radius: 0.4rem;

$breakpoint-laptop: 1440px;
$breakpoint-tablet: 768px;
$breakpoint-phone: 375px;
