div.link-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 7.5rem;
}

@media only screen and (max-width: $breakpoint-phone) {
    div.link-group {
        justify-content: space-between;
    }
}
