@import '../../scss/variables.scss';
@import '../../scss/partials.scss';

.form {
  display: flex;
  flex-direction: column;
  height: 20rem;

  .emailInput,
  .nameInput {
    @extend %textInput;
    margin-bottom: 20px;
  }

  .checkbox {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .checkboxText {
      font-size: 0.8rem;

      .highlight {
        color: $main-color;
        cursor: pointer;
        text-decoration: none;
        font-weight: 400;
      }
    }
  }

  .submit {
    margin-top: 2rem;
    @extend %button;
    width: 10rem;
  }
}
