.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 5rem;
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 6rem;

    .logo {
        color: $primary-color;
        text-decoration: none;
        display: flex;
        align-items: center;
    }

    div.menu {
        display: flex;
        width: 40%;
        justify-content: space-around;
        align-items: center;
        margin-left: auto;

        a.menu-item {
            cursor: pointer;
            padding: 0.5rem;
            transition: background-color 0.4s;
            transition: color 0.4s;
            border-radius: $border-radius;
            text-decoration: none;
            color: $font-color;

            &:hover {
                background-color: $input-background-grayscale;
                transition: background-color 0.5s;
            }
        }
    }
}
