header.index-header {
    width: 50%;
    color: $font-color;

    h1.title {
        margin: 0;
        padding: 0;
    }

    div.subtext {
        margin-top: 1rem;
    }

    div.button-container {
        max-width: 200px;
        margin-top: 3rem;
    }

    div.social-media-links {
        margin-top: 60px;
        margin-left: 30px;
    }
}

div.image-container {
    display: flex;
    justify-content: center;
    width: 50%;

    .header-image {
        width: 100%;
    }
}

@media only screen and (max-width: $breakpoint-phone) {
    header.index-header {
        width: 100%;
    }
}
