.transport-container {
    background-color: $background-grayscale;
    flex: 1;
    height: 650px;
    border-radius: $border-radius;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;

    .image-container {
        flex: 1;
    }

    .text-container {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem;

        a.partner {
            background: $primary-gradient;
            font-weight: 600;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

            &:nth-last-child(odd) {
                background: $accent-gradient;
                font-weight: 600;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }
}

@media only screen and (max-width: $breakpoint-phone) {
    .transport-container {
        height: auto;
        flex-direction: column-reverse;
        padding: 1rem;
    }
}
