.breeders-container {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100%;

    .image-container {
        padding: 100px 40px 0 40px;
        width: 40%;
        background-color: #fad390;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        border-right: 1px solid $line-grayscale;
    }
    .text-container {
        width: 60%;
        height: 100vh;
    }
}
