@import '../variables.scss';

.contact {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  padding: 10rem;

  .header {
    display: flex;
    flex-direction: column;
    width: 45%;
    font-size: 1.6rem;
    padding: 3rem;
    font-weight: 300;

    .title {
      font-weight: 500;
      margin-bottom: 0rem;
    }

    .description {
      margin-bottom: 4rem;
      font-size: 1.5rem;
      text-align: justify;
    }

    .formContainer {
      .form {
        display: flex;
        flex-direction: column;

        .label {
          //label hidden to boost accessibility in Lighthouse
          width: 100%;
          font-size: 0;

          .emailInput {
            font-size: 25px;
            width: 100%;
            border: 0;
            border-bottom: 2px solid $main-color;
            padding: 0.4rem 0.1rem;
            outline: 0;
            margin-bottom: 20px;
          }
        }

        .checkbox {
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;

          .checkboxText {
            font-size: 0.8rem;

            .highlight {
              color: $main-color;
              cursor: pointer;
              text-decoration: none;
              font-weight: 400;
            }
          }
        }

        .submit {
          width: 10rem;
          padding: 0.5rem;
          background-color: transparent;
          border: 2px solid $main-color;
          border-radius: $radius;
          cursor: pointer;
          margin-top: 2rem;
        }
      }
    }
  }

  .imageContainer {
    display: flex;
    justify-content: center;
    width: 55%;

    .image {
      width: 100%;
    }
  }
}
