@import '../variables.scss';

.jumbotron {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  padding: 10rem;

  .header {
    width: 40%;

    .title {
      font-size: 3rem;
      font-weight: 500;
    }

    .subtitle {
      font-size: 3rem;
      font-weight: 500;
      margin-top: -5rem;
    }

    .description {
      font-size: 1.5rem;
    }

    .buttonGroup {
      display: flex;
      justify-content: space-between;
      width: 25rem;
      font-size: 1.2rem;
    }

    .socialLinkGroup {
      margin-top: 3rem;
      display: flex;
      justify-content: space-between;
      width: 28%;
      padding: 0.8rem;
      font-size: 1.1rem;

      .icon {
        font-size: 3rem;
        height: 3rem;
        width: 3rem;
      }
    }
  }

  .imageContainer {
    display: flex;
    justify-content: center;
    width: 60%;

    .image {
      width: 100%;
    }
  }
}
