@import '../variables.scss';

.register {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  padding: 10rem;

  .contentContainer {
    flex: 1;
    padding: 5rem;
    border-left: 2px solid $highlight-color;

    .header {
      .title {
        font-weight: 400;
        font-size: 2.5rem;
        margin-bottom: 0rem;
      }

      .description {
        margin-bottom: 4rem;
        font-size: 1.3rem;
        text-align: justify;
      }
    }
  }

  .imageContainer {
    flex: 1;
  }
}
