.vision {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 5rem 10rem;
    border-top: 1rem solid $main-color;

    .header {
        font-weight: 400;
        text-align: center;
        .title {
            font-weight: 500;
            font-size: 1.8rem;
        }

        .description {
            font-size: 1.2rem;
        }
    }
}
