@import '../../scss/variables.scss';

.stepBlock {
  display: flex;
  margin: 1rem auto;
  width: 70%;
  height: 20rem;

  .contentContainer {
    padding: 5rem;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .title {
      font-size: 2rem;
      font-weight: 500;
      .numberHighlight {
        color: $main-color;
        margin-right: 0.8rem;
        font-weight: 700;
      }
    }
    .text {
      font-size: 1.1rem;
    }
  }

  .imageContainer {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .image {
      width: 100%;
    }
  }
}

.stepBlockReverse {
  flex-direction: row-reverse;
}
