section.footer {
    height: 80px;
    width: 100%;
    padding: 0 5rem;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $background-grayscale;
    text-align: center;

    div.contact-badges {
        display: flex;
        align-items: center;
        flex: 1;

        a.contact-badge {
            background-color: #ded3ff;
            width: 146px;
            height: 30px;
            border-radius: 39px;
            display: flex;
            justify-content: center;
            align-items: center;
            &.--email {
                .text-email {
                    color: $secondary-dark-color;
                }
                margin: 0.5rem;
            }
            &.--phone {
                .text-phone {
                    color: $secondary-dark-color;
                }
                margin: 0.5rem;
            }
        }
    }

    span.copyright {
        flex: 1;
    }

    span.policy-link {
        flex: 1;
    }
}

@media only screen and (max-width: $breakpoint-phone) {
    section.footer {
        height: auto;
        width: 100%;
        padding: 0;
        flex-direction: column;
    }
}
