header.breeders-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;

    div.text-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        height: 70vh;
        padding: 20px 70px 0 90px;

        span.highlighted-number {
            color: $primary-color;
            font-weight: bold;
            text-decoration: underline;
        }

        button.breeders-button {
            margin-top: auto;
        }
    }
}

@media only screen and (max-width: $breakpoint-phone) {
    header.breeders-header {
        flex-direction: column-reverse;

        div.text-container {
            margin-top: 800px;
            flex-direction: column;
            height: auto;
            padding: 0;
            text-align: center;

            button.breeders-button {
                margin-top: 50px;
            }
        }
    }
}
