@import '../../scss/variables.scss';

$color: $main-color;

.blockquote {
  font-size: 1.2rem;
  width: 80%;
  border-left: 3px solid $color;
  color: #1a1a1a;
  font-style: italic;
  line-height: 1.8em;
  padding: 1em 2em;
  position: relative;
  transition: 0.2s border ease-in-out;
  z-index: 0;
  &:before {
    content: '';
    position: absolute;
    top: 50%;
    left: -4px;
    height: 2em;
    background-color: #fff;
    width: 5px;
    margin-top: -1em;
  }
  &:after {
    content: '\201C';
    position: absolute;
    top: 55%;
    left: -0.5em;
    color: $color;
    font-style: normal;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1em;
    text-align: center;
    text-indent: -2px;
    width: 1em;
    margin-top: -0.5em;
    transition: 0.2s all ease-in-out, 0.4s transform ease-in-out;
  }
  &.format:before,
  &.format:after {
    display: none;
  }
  &.book:after {
    content: '\f12e';
  }
  &.podcast:after {
    content: '\f32d';
  }
  &.lyrics:after {
    content: '\f333';
  }
  &.favorite:after {
    content: '\f384';
  }
  &:active:after {
    transform: rotateY(360deg);
  }
}
